body,
* {
	background: #1a1a1a;
	color: white;
	margin: 0;
}

.getlink_manga {
	font-family: 'Courier New', Courier, monospace;
	background: #1a1a1a;
	padding: 20px;
	color: white;
}

.video_tutorial {
	display: flex;
	justify-content: center;
	width: -webkit-fill-available;
	flex-direction: column;
	margin: 5px 0 5px 0;
}

.getlink_manga input,
.getlink_manga textarea,
.getlink_manga select {
	padding: 10px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	width: 80%;
}

.getlink_manga input,
.getlink_manga textarea {
	background: #333;
	color: white;
}

.getlink_manga textarea#output_linkmanga,
.getlink_manga textarea#manualHtml {
	min-height: 200px;
	max-height: 400px;
	width: -webkit-fill-available;
	resize: none;
	outline: none;
}

.getlink_manga button {
	border-radius: 5px;
	padding: 10px;
	border: none;
	background: antiquewhite;
	color: #290000;
	font-weight: bold;
	font-size: 14px;
	margin: 10px;
	width: -webkit-fill-available;
}

.getlink_manga button:hover {
	background: #2980b9;
}

.getlink_manga textarea {
	height: 150px;
}

.getlink_manga .tab_gen {
	display: flex;
	justify-content: center;
	bottom: 10px;
	gap: 10px;
}

.getlink_manga .tab_gen button {
	flex: 1;
	background: ghostwhite;
	border: 1px solid antiquewhite;
	color: #3451db;
	padding: 10px;
	font-weight: bold;
}

.getlink_manga .tab_gen button.active {
	background: #3451db !important;
	color: antiquewhite !important;
	border: none !important;
}

.getlink_manga .tab_gen button[data-mode="mode_link"] {
	background: hotpink;
	color: lavenderblush;
	border: none;
}

.getlink_manga .content {
	display: none;
}

.getlink_manga .content.active {
	display: block;
}

.getlink_manga .input_target_img {
	display: flex;
}

.getlink_manga .input_target_img input {
	width: -webkit-fill-available;
}

.getlink_manga .input_target_img button {
	padding: 3px 8px;
	border: none;
	background: antiquewhite;
	color: #290000;
	font-weight: bold;
	font-size: 12px;
	margin: 10px;
}